.dashboard-page {
  /* min-height: inherit; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}


.new-file {
  height: 120px;
  cursor: pointer;
}

.new-file.blocked {
  cursor: not-allowed;
}

.upload-form {
  position: absolute;
  /* top: 9999px; */
  visibility: hidden;
}


.files-item {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.file-buttons {
    display: flex;
}

.file-actions {

}

